<header class="page-header">
  <div class="page-container page-header-container">
    <a class="site-logo-url" routerLink="/">
      <img class="site-logo" src="assets/logo/logo.png" srcset="assets/logo/logo@2x.png 2x" alt="Video Course">
    </a>

    <nav class="menu" *ngIf="userInfo$ | async as userInfo">
      <div class="menu-item">
        <span class="user-login">
          <svg-icon-sprite [src]="'user'" [class]="'icon icon-user'"></svg-icon-sprite>
          {{ 'USER.GREETING' | translate }}, {{userInfo.name?.first}} {{userInfo.name?.last}}
        </span>
      </div>
      <div class="menu-item">
        <button class="log-off" (click)="logout()">
          <svg-icon-sprite [src]="'exit'" [class]="'icon icon-exit'"></svg-icon-sprite>
          {{ 'USER.LOGOUT' | translate }}
        </button>
      </div>
    </nav>

    <select class="lang-selector" #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
        {{lang | uppercase}}
      </option>
    </select>
  </div>
</header>
