@import "_variables.styl"
@import "_mixins.styl"

\:host
  flex-grow 1
  display flex
  align-items center

.not-found
  font 600 100px/1 font-sans-pro
  text-align center
  color map-get(colors, 'dark')
