.form-title
  font 600 24px/30px font-sans-pro
  color map-get(colors, 'dark')
  margin 0 0 18px 0

.form-item
  margin-bottom 18px

.form-label
  margin-bottom 8px
  font 600 14px/18px font-sans-pro
  color map-get(colors, 'slate-grey')
  display flex
  justify-content space-between

.form-required
  font 12px/18px font-sans-pro
  color map-get(colors, 'steel')


.form-input
  padding 6px 12px
  font 400 14px/24px font-sans-pro
  border-radius 3px
  border 1px solid map-get(colors, 'mishka')
  color: map-get(colors, 'slate-grey')
  width 100%
