font-sans-pro = 'Source Sans Pro', sans-serif

colors = {
  sushi: #8bc34a,
  sick-green: #9bc837,
  pear: #e2f86a,
  soft-blue: #577ce6,
  cerulean: #03A9F4,
  dark-sky-blue: #30b6dd,
  seafoam-blue: #76cdd8,
  cloudy-blue: #b9bdce,
  black: #000,
  dark: #2c2f3c,
  charcoal-grey: #414452,
  slate-grey: #525462,
  steel: #868996,
  silver: #c0c3ce,
  mishka: #d9dbe3,
  pale-grey: #f2f3f7,
  white: #fff
}
