<form class="form panel" [formGroup]="form">
  <h1 class="form-title">{{title}}</h1>

  <div class="form-item">
    <label for="courseTitle" class="form-label">
      {{ 'COURSE.TITLE' | translate }}:
      <span class="form-error"
            *ngIf="form.get('name').dirty && form.get('name').errors?.maxlength"
            [translate]="'VALIDATION.MAX_CHARS'" [translateParams]="{value: '50'}">
      </span>
      <span class="form-required">{{ 'VALIDATION.REQUIRED' | translate }}</span>
    </label>
    <input
      id="courseTitle"
      type="text"
      class="form-input"
      formControlName="name"
      [ngClass]="{'error': form.get('name').dirty && form.get('name').errors}" />
  </div>

  <div class="form-item">
    <label for="courseInfo" class="form-label">
      {{ 'COURSE.DESCRIPTION' | translate }}:
      <span class="form-error"
            *ngIf="form.get('description').dirty && form.get('description').errors?.maxlength"
            [translate]="'VALIDATION.MAX_CHARS'" [translateParams]="{value: '500'}">
      </span>
      <span class="form-required">{{ 'VALIDATION.REQUIRED' | translate }}</span>
    </label>
    <textarea id="courseInfo"
              class="form-input"
              formControlName="description"
              [ngClass]="{'error': form.get('description').dirty && form.get('description').errors}">
    </textarea>
  </div>

  <agm-duration-input [formControl]="form.controls['length']"></agm-duration-input>
  <agm-date-input [formControl]="form.controls['date']"></agm-date-input>
  <agm-authors-input [formControl]="form.controls['authors']"></agm-authors-input>

  <div class="form-buttons">
    <a class="button-style-cancel" routerLink="/courses">{{ 'COURSE.CANCEL' | translate }}</a>
    <button class="button-style-primary" type="button" [disabled]="form.invalid" (click)="save()">{{ 'COURSE.SAVE' | translate }}</button>
  </div>
</form>
