@import "_variables.styl"
@import "_mixins.styl"

.courses-load-more-text
  text-decoration underline
  color map-get(colors, 'soft-blue')
  text-transform uppercase
  font 12px/1.5 font-sans-pro

.courses-load-more
  width 100%
  height 48px
  border-radius 6px
  box-shadow 0 1px 24px 0 rgba(18, 21, 35, 0.08)
  background-color map-get(colors, 'white')
  border 0

  &:hover .courses-load-more-text
    text-decoration none

