<div class="page-container page-content-wrapper">
  <div class="panel login-wrapper">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <p class="form-title">
        {{ 'LOGIN_FORM.TITLE' | translate }} <span *ngIf="error$ | async" class="form-error">{{ 'VALIDATION.LOGIN_FORM_INVALID' | translate }}</span>
      </p>

      <div class="form-item">
        <label for="userEmail" class="form-label">
          {{ 'LOGIN_FORM.EMAIL' | translate }}: <span class="form-required">{{ 'VALIDATION.REQUIRED' | translate }}</span>
        </label>
        <input
          id="userEmail"
          type="email"
          class="form-input"
          formControlName="email"
          [ngClass]="{'error': loginForm.get('email').touched && loginForm.get('email').errors || (error$ | async)}" />
      </div>

      <div class="form-item">
        <label for="userPassword" class="form-label">
          {{ 'LOGIN_FORM.PASSWORD' | translate }}: <span class="form-required">{{ 'VALIDATION.REQUIRED' | translate }}</span>
        </label>
        <input
          id="userPassword"
          type="password"
          class="form-input"
          formControlName="password"
          [ngClass]="{'error': loginForm.get('password').touched && loginForm.get('password').errors || (error$ | async)}" />
      </div>

      <div class="form-buttons between">
        <a href="#" class="forgot-pass-link">{{ 'LOGIN_FORM.FORGOT_LINK' | translate }}</a>
        <button class="button-style-primary" type="submit" [disabled]="loginForm.invalid">
          {{ 'LOGIN_FORM.SUBMIT' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
