@import "_variables.styl"
@import "_mixins.styl"

\:host
  flex-grow 1
  display flex
  align-items center

.login-wrapper
  width 100%
  max-width 368px
  margin auto

.forgot-pass-link
  font 12px/18px font-sans-pro
  color map-get(colors, 'soft-blue')
  &:hover
    text-decoration none
