@import "_variables.styl"
@import "_mixins.styl"

\:host
  width 100%
  margin auto auto 0 auto

.page-footer
  display flex
  align-items center
  height 64px
  font 14px/1.71 font-sans-pro
  color map-get(colors, 'silver')
  background map-get(colors, 'charcoal-grey')
  text-align right
  flex-shrink 0
