<h2 mat-dialog-title>
  {{ 'COURSE_DELETE.TITLE' | translate }}

  <button class="agm-dialog-close" (click)="close()">
    <svg-icon-sprite [src]="'close'" [class]="'icon icon-close'"></svg-icon-sprite>
  </button>
</h2>

<mat-dialog-content>
  {{ 'COURSE_DELETE.CONTENT' | translate }}<br/>
  {{name}}?
</mat-dialog-content>

<mat-dialog-actions>
  <button class="button-style-cancel" (click)="close()">{{ 'COURSE_DELETE.CANCEL' | translate }}</button>
  <button class="button-style-primary" (click)="delete()">{{ 'COURSE_DELETE.SUBMIT' | translate }}</button>
</mat-dialog-actions>
