<div class="form-item small">
  <label for="courseDate" class="form-label">
    {{ 'COURSE.DATE' | translate }}:
    <span class="form-required">{{ 'VALIDATION.REQUIRED' | translate }}</span>
  </label>
  <div class="form-item-with-icon">
    <input
      id="courseDate"
      class="form-input"
      (dateChange)="changeDate($event)"
      [matDatepicker]="courseDatePicker"
      [value]="formControl?.value"
      [ngClass]="{'error': formControl.dirty && formControl.errors}" />
    <mat-datepicker-toggle class="form-item-icon" [for]="courseDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #courseDatePicker></mat-datepicker>
  </div>
</div>
