<div *ngIf="coursesList$ | async as coursesList">
  <section class="courses-list" *ngIf="coursesList.length; else noResults;">
    <agm-courses-list-item
      *ngFor="let coursesListItem of coursesList | orderBy: 'date'"
      [coursesListItem]="coursesListItem"
      (deletedCourse)="onDeletedCourse($event)">
    </agm-courses-list-item>
  </section>

  <ng-template #noResults>
    <p class="no-results">{{ 'COURSE.NO_DATA' | translate }}</p>
  </ng-template>

  <button *ngIf="coursesList.length"
          class="panel courses-load-more"
          (click)="loadMore()">
    <span class="courses-load-more-text">{{ 'COURSE.LOAD_MORE' | translate }}</span>
  </button>
</div>
