@import "_variables.styl"
@import "_mixins.styl"

.breadcrumbs
  height 64px
  background-color map-get(colors, 'white')
  font 600 14px/1.71 font-sans-pro
  color map-get(colors, 'dark')
  display flex
  align-items center

.menu
  list-style none

.item
  display inline
  font 14px/1 font-sans-pro

.sep
  color map-get(colors, 'dark-sky-blue')

.link
  color map-get(colors, 'steel')
  text-decoration none
  &:hover
    color map-get(colors, 'dark')

.last
  color map-get(colors, 'dark')
  font-weight 600
