@import "_variables.styl"
@import "_mixins.styl"

.breadcrumbs
  height 64px
  background-color map-get(colors, 'white')
  font 600 14px/1.71 font-sans-pro
  color map-get(colors, 'dark')
  display flex
  align-items center
