<div class="form-item small">
  <label for="courseDuration" class="form-label">
    Duration:
    <span class="form-error" *ngIf="formControl.dirty && formControl.errors?.number">Enter valid number</span>
    <span class="form-required">*required</span>
  </label>
  <input id="courseDuration"
         type="text"
         class="form-input"
         (keyup)="changeDuration($event)"
         [value]="formControl?.value"
         [ngClass]="{'error': formControl.dirty && formControl.errors}" />
  <span class="duration-value" *ngIf="!formControl.errors">{{formControl.value | duration}}</span>
</div>
