@import "_variables.styl"
@import "_mixins.styl"

.duration-value
  font 14px/24px font-sans-pro
  color map-get(colors, 'slate-grey')
  width 100%
  +up-mobile()
    position absolute
    left 220px
    top 32px
