<div class="form-item small">
  <label for="courseDuration" class="form-label">
    {{ 'COURSE.DURATION' | translate }}:
    <span class="form-error" *ngIf="formControl.dirty && formControl.errors?.number">
      {{ 'VALIDATION.NUMBER' | translate }}
    </span>
    <span class="form-required">{{ 'VALIDATION.REQUIRED' | translate }}</span>
  </label>
  <input id="courseDuration"
         type="text"
         class="form-input"
         (keyup)="changeDuration($event)"
         [value]="formControl?.value"
         [ngClass]="{'error': formControl.dirty && formControl.errors}" />
  <span class="duration-value" *ngIf="!formControl.errors">{{formControl.value | duration:locale}}</span>
</div>
