@import "_variables.styl"
@import "_mixins.styl"
@import "_buttons.styl"

::placeholder
  color map-get(colors, 'silver')
  opacity 1

body
  background map-get(colors, 'pale-grey')

.page-container
  max-width 1140px
  width 100%
  padding 0 15px
  margin 0 auto

.page-content-wrapper
  margin-bottom 50px

.panel
  border-radius 6px
  box-shadow 0 1px 24px 0 rgba(18, 21, 35, 0.08)
  background-color map-get(colors, 'white')
