@import "_variables.styl"
@import "_mixins.styl"

.forgot-pass-link
  font 12px/18px font-sans-pro
  color map-get(colors, 'soft-blue')
  &:hover
    text-decoration none

.login-actions
  display flex
  justify-content space-between
  align-items center
